.input-wrapper {
    display: flex;
}

.placeholder {
    margin-right: 5px;
    width: 200px;
}

.input {
    background: transparent;
    border: none;
    outline: none;
    padding: 5px;
    width: 100%;
    color: transparent;
    text-shadow: 0 0 0 var(--primary-color);

    &:focus {
        border: solid 1px var(--secondary-color);
        border-radius: 5px;
    }
}



