.app-dark-theme {
	--bg-color: #090949;
	--inverted-bg-color: #e9e9ee;
	--primary-color: #28cd28;
	--secondary-color: #147f14;
	--inverted-primary-color: #234fd4;
	--inverted-secondary-color: #042264;
}